.divMain {
    background-color: rgba(61, 61, 61, 0.17);
    height: 150px;
    display: flex;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 20px;
}

.img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: #FF31F7 solid;
    
}

.img:hover {
    box-shadow: 0px 0px 15px 3px #FF31F7;
}

.horlist {
    position: relative;
    left: 150px;
    display: flex;
    
}

.HorizontalContent {
    align-items: center;
    
}

.horlist a {
    display: flex;
    position: relative;
    left: 100px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    border-radius: 17px;
    padding: 5px 20px 5px 20px;
    margin-left: 110px;
}

.horlist h1 {
    
    font-size: 16px;
    margin-left: 10px;
    position: relative;
    top: 10px;  
}

.homeIcon{ 
    position: relative;
    left: 1050px;
    cursor: pointer;
}


